.header {
    background-color: rgb(239, 240, 243);
    width: 100%;
    height: 100px;
    margin-top: 0;
    border-bottom: 1px solid rgb(182, 181, 192);
}

.main-header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.left-main-header {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 15px;
    width: 180px;
}

.menu-button {
    background-color: rgb(239, 240, 243);
    border: 1px solid rgb(206, 205, 205);
    border-radius: 5px;
    width: 35px;
    height: 35px;
    padding: 5px;
    cursor: pointer;
}

.menu-img {
    height: 25px;
    width: 20px;
}

.github-img {
    height: 35px;
    cursor: pointer;
}

.username {
    font-weight: bold;
    color: rgb(59, 59, 59);
    cursor: pointer;
    border-radius: 5px;
    padding: 8px;
    margin-left: -5px;
}

.username:hover {
    transition: background-color 0.3s;
    background-color: rgb(227, 229, 236);
}

.middle-main-header {
    display: flex;
    align-items: center;
    padding-top: 15px;
    width: fit-content;
    margin-left: 120px;
    margin-right: 20px;
    flex: 1;
    justify-content: end;
}

.search-bar-container {
    display: flex;
    align-items: center;
}

.search-bar {
    height: 31px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
    background-color: rgb(239, 240, 243);
    margin-right: 8px;
    padding-left: 25px;
    background: url(icons/search-logo.png) no-repeat scroll 7px 7px;
    background-size: 15px;
    background-position: 6px;
    outline: none;
    width: 220px;
}

.search-bar-logo {
    height: 15px;
}

.copilot-button {
    height: 35px;
    width: 35px;
    border: 1px solid rgb(211, 211, 211);
    background-color: rgb(239, 240, 243);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.copilot-img {
    height: 25px;
    margin-left: -3px;
}

.copilot-open-button {
    display: flex;
    height: 35px;
    border: 1px solid rgb(211, 211, 211);
    background-color: rgb(239, 240, 243);
    border-radius: 3px;
    margin-left: -4px;
    width: 25px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.copilot-open-img {
    height: 18px;
}

.seperator {
    width: 15px;
    border-right: 1px solid rgb(211, 211, 211);
    height: 20px;
}

.right-main-header {
    padding-top: 15px;
    margin-left: -5px;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 240px;
}

.plus-button {
    display: flex;
    border: 1px solid rgb(211, 211, 211);
    background-color: rgb(239, 240, 243);
    border-radius: 5px;
    height: 35px;
    width: 60px;
    align-items: center;
    justify-content: left;
    cursor: pointer;
}

.plus-img {
    height: 15px;
    padding-left: 3px;
}

.plus-button .copilot-open-img {
    margin-left: 10px;
}

.issues-button {
    display: flex;
    border: 1px solid rgb(211, 211, 211);
    background-color: rgb(239, 240, 243);
    border-radius: 5px;
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: left;
    margin-left: 8px;
    cursor: pointer;
}

.issues-img {
    height: 15px;
    padding-left: 1px;
}

.pull-request-button {
    display: flex;
    border: 1px solid rgb(211, 211, 211);
    background-color: rgb(239, 240, 243);
    border-radius: 5px;
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: left;
    margin-left: 8px;
    cursor: pointer;
}

.pull-request-img {
    height: 15px;
    padding-left: 2px;
}

.notifications-button {
    display: flex;
    border: 1px solid rgb(211, 211, 211);
    background-color: rgb(239, 240, 243);
    border-radius: 5px;
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: left;
    margin-left: 8px;
    cursor: pointer;
}

.notifications-img {
    height: 15px;
    padding-left: 1px;
}

.notifications-button:hover, 
.pull-request-button:hover, 
.issues-button:hover, 
.plus-button:hover, 
.copilot-button:hover, 
.copilot-open-button:hover, 
.menu-button:hover {
    transition: background-color 0.3s;
    background-color: rgb(231, 231, 231);
}

.your-profile-picture {
    height: 35px;
    border-radius: 100px;
    border: 1px solid rgb(211, 211, 211);
    margin-left: 10px;
    cursor: pointer;
    margin-right: 15px;
}